.BTN {
 height: 200px;
 width: 600px;
 background-color: white;
 color: black;
 font-size: 80px;
 cursor: pointer;
 border: 12px solid black;
}

.BTN:hover {
background-color: BLACK;
border: 12px double white;
color: white;
}

#display {
display: block;
height:auto;
width: max-content
}

#searchDiv {
display: block;
height: 100px;
}

.searchBar {
height: 70px;
width: 400px;
font-size: 30px;
}

